<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name="CrimeDbConstring" connectionString="server=127.0.0.1;uid=@@@@@@@@;pwd==@@@@@@@@;database==@@@@@@@@"/>
      <!--<add name="CrimeDbConstring" connectionString="server=192.168.8.101;uid=@@@@@@@@;pwd==@@@@@@@@;database==@@@@@@@@"/>-->
      <!--<add name="CrimeDbConstring" connectionString="server=lcis.com.ng;uid=@@@@@@@@;pwd==@@@@@@@@;database==@@@@@@@@"/>-->
    </connectionStrings>
    <appSettings>
      <add key="TBL_PROFILE" value="inmate_profile"/>
    </appSettings>
</configuration>